/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container {
        width: 960px;
    }
    
    .app__menu .item {
        font-size: 14px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container {
        width: 700px;
    }
    
    .app__menu .items-container {
        grid-template-columns: 1fr 1fr;
    }
    .app__menu .item {
        font-size: 16px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
    
    .container {
        width: 80%;
    }
    
    .app__menu .items-container {
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    }
        
    .edit__img {
        height: 180px;
        width: 180px;
    }
    .edit__img img {
        width: 90%;
        top: 0;
        left: 10px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .app__menu .item {
        font-size: 14px;
    }
    
    .app__edit .edit {
        display: block;
    }
    
    .edit__item,
    .edit__ingredients-wrap {
        padding: 10px 0;
    }
    
    .edit__ingredients-wrap {
        max-width: none;
    }
    
    .edit__img {
        margin: 0 auto;
        height: 120px;
    }
    .edit__img img {
        top: -40px;
    }
    
    .edit__item {
        text-align: center;
    }
    .edit__name {
        padding: 0;
    }
    .edit__price {
        padding: 0;
    }
    
    .edit__ingredients-list {
        padding-left: 15px;
    }
    
    .edit__btn-add {
        margin-top: 20px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}